@import "tailwindcss/preflight";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.DraftEditor-root {
  border: 1px solid grey;
  @apply p-4;
}

.public-DraftEditor-content {
  height: 10rem;
}

.AutocompleteList {
  position: absolute;
  background: white;
  max-height: 15rem;
  max-width: 25rem;
  @apply list-reset shadow-md overflow-y-auto;
}

.AutocompleteListItem {
  @apply px-3 py-1 truncate;
}

.AutocompleteListItem.current {
  background: lightgrey;
}
